{{!-- templates/components/item-element.hbs --}}

<li class="item-element">
  {{#link-to "item" item}}
    {{#with item}}
      <img {{bind-attr src=thumbnailUrl}} class="item-element-image">
      <div class="item-element-detail">{{name}}</div>
    {{/with}}
  {{/link-to}}
</li>