<ng-include src="'/partials/header.html'" ng-controller="HeaderCtrl" ng-class="headerStyle"></ng-include>

<ng-include src="'/partials/cover.html'" ng-controller="CoverCtrl"></ng-include>

<div class="container">
  <h5>Number of items: {{items.length}}</h5>
  <div class="container">
    <ul class="item-element-list">
      <li class="item-element" ng-repeat="item in items">
        <a href="/item/{{item._id.$oid}}">
          <img ng-src="{{item.image_url}}" />
          <div class="item-element-label">{{item.name}}</div>
        </a>
      </li>
    </ul>
  </div>
</div>
