.cover {
  position: relative;
  height: @height--cover;
  &:before {
    content: '';
    display: block;
    width: 100%;
  }
}
.isSearchView {
  .cover {
    display: none;
  }
}
@media (max-width: @screen--sm-max) {
  .cover,
  .cover.isImageless {
    height: @height--cover-sm;
  }
}
.cover.isImageless {
  .cover-image,
  .cover-imageFader {
    display: none;
  }
  background: rgba(0,0,0,0);
  height: @height--cover-imageless;
}
.cover.isTitleless {
  .cover-title {
    display: none;
  }
}
.cover.isSubtitleless {
  .cover-subtitle {
    display: none;
  }
}
.cover-content {
  text-align: center;
}
.isImageless {
  .cover-header {
    margin-bottom: @space--coverHeader-bottom;
  }  
}
.cover-image {
  background-color: @color--coverBg;
  background-size: cover;
  background-position: center;
}
.cover-imageFader {
  background: @color--imageFaderBg;
}
.cover-image,
.cover-imageFader,
.cover-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.cover-avatar {
  height: @height--coverAvatar;
  border-radius: (@height--coverAvatar / 2);
  margin-bottom: @space--coverAvatar-bottom;
}
.isSearchView,
.isBrowseView,
.isItemView {
  .cover-avatar {
    display: none;
  }
}
.light {
  .cover-title,
  .cover-subtitle {
    color: @color--header-light;
  }
}
