.subcover {
  display: block;
  text-align: left;
  font-size: @fontSize--subcover;
  font-weight: @fontWeight--subcover;
  letter-spacing: @letterSpacing--subcover;
  text-transform: @textTransform--subcover;
  .box-shadow(inset 0 1px fade(@color--header, @opacityPercentage--subcover-inactive));
}
.isBrowseView,
.isItemView {
  .subcover--static {
    display: none;
  }
}
.isSearchView,
.isUserView,
.isItemView {
  .subcover--dynamic {
    display: none;
  }
}
.subcover-static-text,
.subcover-anchor {
  display: inline-block;
  padding: @space--subcoverItem-vertical 0;
  opacity: @opacity--subcover-inactive;
}
.subcover-anchor.active {
  border-top: 1px solid @color--header;
  opacity: 1;
}
.subcover-item {
  display: inline-block;
  margin: 0 @space--subcoverItem-horizontal;
  &:first-child {
    margin-left: 0;
  }
}
.light {
  .subcover {
    color: @color--header-light;
    .box-shadow(inset 0 1px fade(@color--header-light, @opacityPercentage--subcover-inactive));
  }
  .subcover-anchor.active {
    border-color: @color--header-light;
  }
}
