.searchInput {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  outline: none;
  font: inherit;
  color: inherit;
  .font-smoothing(inherit);
  text-rendering: inherit;
  background: inherit;
  font-size: @fontSize--searchInput;
  font-weight: @fontWeight--searchInput;
  text-align: center;
  height: @height--cover-imageless;
  padding-bottom: @space--coverHeader-top;
}
@media (max-width: @screen--sm-max) {
  .searchInput {
    height: @height--cover-imageless-sm
  }
}
.placeholder(@color--searchPlaceholder);
.subcover--searchResults.isEmptySearch {
  display: none;
}
.subcover--searchInstructions.isNotEmptySearch {
  display: none;
}