.cover {
  position: relative;
  min-height: @minHeight--cover;
  max-height: @maxHeight--cover;
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: @aspect--cover;
  }
}
.cover.isImageless {
  .cover-image {
    display: none;
  }
  background: rgba(0,0,0,0);
  height: @height--cover-imageless;
  .cover-imageFader {
    display: none;
  }
  &:before {
    padding-bottom: 0;
  }
}
@media (max-width: @screen--sm-max) {
  .cover.isImageless {
    height: @height--cover-imageless-sm;
  }
}
.cover.isTitleless {
  .cover-text {
    display: none;
  }
  .cover-imageFader {
    display: none;
  }
}
.cover.isSubtitleless {
  .cover-subtitle {
    display: none;
  }
}
.cover-text {
  text-align: center;
}
.cover-text-inner {
  margin-bottom: @space--cover-text-bottom;
}
.cover-image {
  background-color: @color--coverBg;
  background-size: cover;
}
.cover-imageFader {
  background: rgba(0,0,0,0.2);
}
.cover-image,
.cover-imageFader,
.cover-text {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.light {
  .cover-title,
  .cover-subtitle {
    color: @color--header-light;
  }
}
