.cover {
  position: relative;
  // min-height: @minHeight--cover;
  // max-height: @maxHeight--cover;
  height: @height--cover-md;
  &:before {
    content: '';
    display: block;
    width: 100%;
    // padding-bottom: @aspect--cover;
  }
}
.cover.isImageless {
  .cover-image {
    display: none;
  }
  background: rgba(0,0,0,0);
  // height: @height--cover-imageless;
  .cover-imageFader {
    display: none;
  }
  &:before {
    padding-bottom: 0;
  }
}
@media (max-width: @screen--sm-max) {
  .cover {
    height: @height--cover-sm;
  }
  // .cover.isImageless {
  //   height: @height--cover-imageless-sm;
  // }
}
.cover.isTitleless {
  .cover-text {
    display: none;
  }
  .cover-imageFader {
    display: none;
  }
}
.cover.isSubtitleless {
  .cover-subtitle {
    display: none;
  }
}
.cover-text {
  text-align: center;
}
.cover-text-inner {
  margin-bottom: @space--cover-text-bottom;
}
.cover-image {
  background-color: @color--coverBg;
  background-size: cover;
  background-position: center;
}
.cover-imageFader {
  background: rgba(0,0,0,0.4);
}
.cover-image,
.cover-imageFader,
.cover-text {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.navTabs-list {
  .box-shadow(inset 0 1px fade(@color--header, 30%));
  text-align: left;
  font-size: @fontSize--navTabs;
  font-weight: @fontWeight--navTabs;
  letter-spacing: @letterSpacing--navTabs;
  text-transform: @textTransform--navTabs;
}
.navTabs-item {
  display: inline-block;
  margin: 0 0.75rem;
  &:first-child {
    margin-left: 0;
  }
}
.navTabs-anchor {
  display: inline-block;
  padding: 0.75rem 0;
  opacity: 0.3;
  &.active {
    border-top: 1px solid @color--header;
    opacity: 1;
  }
}
.light {
  .cover-title,
  .cover-subtitle {
    color: @color--header-light;
  }
  .navTabs-list {
    .box-shadow(inset 0 1px fade(@color--header-light, 30%));
  }
  .navTabs-anchor {
    color: @color--header-light;
    &.active {
      border-color: @color--header-light;
    }
  }
}
