.header {
  position: absolute;
  top: 0;
  z-index: @zIndex-header;
  text-align: center;
  background: rgba(0,0,0,.15); // TEMP
  width: @width--header;
  // left: unit(((100 - unit(@width--container))/2), %);
  // margin-left: auto;
  // margin-right: auto;
  height: @height--header;
  color: @color--header;
}
.header-logo {
  fill: @color--headerLogo;
  height: @height--headerLogo;
}
.header-item {
  display: inline-block;
  padding-top: @space--headerItem-vertical;
  padding-bottom: @space--headerItem-vertical;
  height: @height--header;
}
.header-item--menu {
  position: absolute;
  left: @space--headerItemMenu-left;
  // text-transform: uppercase;
  // font-weight: 600;
  &, &:hover {
    color: inherit;
  }
  // line-height: @header-item-height;
}
.light {
  .header,
  .header-item {
    color: @color--header-light;
  }
  .header-logo {
    fill: @color--headerLogo-light;
  }
}
.icon-nav {
  font-size: @fontSize--icon-nav;
}
