.container {
  margin: 0 auto;
  width: @width--container;
}
.container--wide {
  width: @width--containerWide;
  max-width: @maxWidth--containerWide;
}
.container--itemElementList {
  margin-top: @space--containerItemElementList;
  margin-bottom: @space--containerItemElementList;
}
@media (max-width: @screen--sm-max) {
  .container {
    width: @width--container-sm;
  }
}
