// scale
@color-grayDarkest:  rgb(17,17,17); // #111
@color-grayDarker:   rgb(34,34,34); // #222
@color-grayDark:     rgb(68,68,68); // #444
@color-gray:         rgb(119,119,119); // #777
@color-grayLight:    rgb(153,153,153); // #999
@color-grayLighter:  rgb(243,243,243); // #f3f3f3
@color-grayLightest: rgb(255,255,255);

// applications
@color--bodyBg:            @color-grayLightest; // TEMP
@color--body:              @color-grayDarker;
@color--link:              @color-grayDarker; // TEMP
@color--linkHover:         darken(@color--link, 15%); // TEMP
@color--headings:          @color-grayDarker;
@color--navBg:             @color-grayDarkest;
@color--nav:               @color-grayLightest;
@color--navListItem:       @color-grayLight;
@color--navListItem-hover: @color-grayLightest;
@color--header:            @color-grayDarkest;
@color--headerLogo:        @color-grayDarkest;
@color--header-light:      @color-grayLightest;
@color--headerLogo-light:  @color-grayLightest;
@color--coverBg:           @color-grayDarker;
@color--imageFaderBg:      rgba(0,0,0,0.4);
@color--temp:              rgba(86,61,124,.15);