// container
@width--container:                624px; // 92% at @screen--md-min
@width--container-sm:             92%;
@width--containerWide:            92%;
@maxWidth--containerWide:         1000px;
@space--containerItemElementList: 0; // 1.3333rem;

// header
@width--header:                   100%;
@height--header:                  64px;
@height--headerItem:              20px;
@height--headerLogo:              @height--headerItem;
@height--header-sm:               51px;
@height--headerItem-sm:           17px;
@height--headerLogo-sm:           @height--headerItem-sm;
@space--headerItem-vertical:      (@height--header - @height--headerItem) / 2;
@space--headerItem-horizontal:    @space--headerItem-vertical;
@space--headerItem-vertical-sm:   (@height--header-sm - @height--headerItem-sm) / 2;
@space--headerItem-horizontal-sm: ((100% - @width--container-sm) / 2);
@space--headerItemMenu-left:      0;
@offset--iconMenu:                -2px;

// nav
@width--nav:                    280px;
@space--nav-vertical:           1rem;
@space--navItem-horizontal:     24px;
@space--navItem-vertical:       @space--navItem-horizontal / 2;
@space--navItemHeader-vertical: @space--navItem-horizontal / 4;
@space--navIcon-right:          17px;
@space--iconAvatar-right:       16px;
@size--avatar:                  21px;
@offset--navIcon:               3px;
@offset--iconAvatar:            -1px;

// cover
@height--cover:                        21rem;
@height--cover-sm:                     21rem;
@height--cover-imageless:              14rem;
@height--cover-imageless-sm:           14rem;
@height--coverAvatar:                  unit(120/unit(@fontMultiplier), rem);
@space--coverAvatar-bottom:            0.333rem;
@space--coverHeader-top:               1rem;
@space--coverHeader-bottom:            1rem;

// subcover
@height--subcover:                           48px;
@height--subcover-sm:                        41px;
@space--subcoverItem-vertical:               0.6667rem;
@space--subcoverItem-horizontal:             0.6667rem;
@space--subcover-vertical:                   1.5rem;
@opacity--subcover-inactive:                 0.3;
@opacityPercentage--subcover-inactive:       percentage(@opacity--subcover-inactive);
@opacity--subcover-inactive-light:           0.5;
@opacityPercentage--subcover-inactive-light: percentage(@opacity--subcover-inactive-light);

// item elements
@itemElement-gutter:          1rem;
@itemElementLabel-lines:      2;
@space--itemElementLabel-top: 0.5rem;

