// sizing variables

// container
@width--container:        640px;
@width--containerWide:    80%;
@maxWidth--containerWide: 1000px;

// header
@width--header:                100%;
@height--header:               64px;
@height--headerItem:           20px;
@space--headerItem-vertical:   (@height--header - @height--headerItem) / 2;
@space--headerItem-horizontal: @space--headerItem-vertical;
@space--headerItemMenu-left:   0;
@height--headerLogo:           @height--headerItem;

// nav
@width--nav:                    280px;
@space--nav-vertical:           18px;
@space--navItem-horizontal:     @space--headerItem-vertical;
@space--navItem-vertical:       @space--navItem-horizontal / 2;
@space--navItemHeader-vertical: @space--navItem-horizontal / 4;
@space--navIcon-right:          16px;
@size--avatar:                  21px;

// cover
@aspect--cover:            40%;
@minHeight--cover:         200px;
@maxHeight--cover:         600px;
@height--cover-imageless:  240px;
@space--cover-text-bottom: 40px;
