// grid.less

.grid-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: (@gutter-width / 2);
  padding-right: (@gutter-width / 2);
  width: @container-width;
  background: rgba(86,61,124,.15); // TEMP
}

@media (min-width: @screen-3-min) {
  .grid-container {
    width: @container-width-lg;
    max-width: @container-max-width-lg;
  }
}