// nav.less

.nav {
  // // padding: 1rem 0;
  background: lighten(@gray-dark, 7.5%); // TEMP
  color: @gray-light;
  // width: @nav-width;
  // position: absolute;
  // overflow: auto;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // display: none;
}
.is-nav-open {
  // .nav {
  //   position: fixed;
  //   z-index: auto;
  //   display: block;
  // }
}
.nav-lists {
  // margin-top: 1em;
}
.nav-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  // color: @gray;
}
.nav-list-item {
  // // font-size: 20px; // TEMP
  // font-size: @font-size-h4;
  // // font-weight: 300;
}
.nav-list-header, .nav-list-item-small {
  // text-transform: uppercase;
  // font-weight: 600;
  // font-size: @font-size-h6;
}
.nav-list-link {
  color: @gray-light;
  // display: block !important;
  &.active, &:hover {
    color: #fff; // TEMP
  //   background: rgba(255,255,255,0.1); // TEMP
  }
  // padding: 8px 0;
}
