// nav.less

.nav {
  // // padding: 1rem 0;
  background: lighten(@gray-dark, 7.5%); // TEMP
  color: @gray-light;
  // width: @nav-width;
  // position: absolute;
  // overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  // display: none;
  // z-index: auto; // TEMP

}
.nav-inner {
  display: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
.nav-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.surface-container {
  height: 100%;
  background: inherit;
  .transition-transform(.2s cubic-bezier(.2, .3, .25, .9));
}

.navTransitioning {
  overflow: hidden;
  height: 100%;
  .nav {
    position: fixed;
    z-index: auto;
  }
  .nav-inner {
    display: block;
    width: @nav-width;
    // padding: @nav-padding;
  }
}

.navOpen {
  .nav-overlay {
    left: @nav-width;
    display: block;
    z-index: @z-index-nav-overlay;
  }
  .surface-container {
    .translate(@nav-width, 0);
  }
}

.nav-lists {
  // margin-top: 1em;
}
.nav-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin-top: 1.5em;
  &:first-child {
    margin-top: 1.5em;
  }
  &:last-child {
    margin-bottom: 2em;
  }
  // color: @gray;
}
.nav-list-item {
  // // font-size: 20px; // TEMP
  font-size: @font-size-h4;
  // // font-weight: 300;
}
.nav-list-header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: @font-size-h6;
  letter-spacing: 0.03em;
  padding: @nav-padding-vertical @nav-padding-horizontal;
}
.nav-list-link {
  color: @gray-light;
  // display: block !important;
  display: block;
  &.active, &:hover {
    color: #fff; // TEMP
    background: rgba(255,255,255,0.1); // TEMP
  }
  padding: @nav-padding-vertical @nav-padding-horizontal;
}
