{{!-- templates/category.hbs --}}

{{page-cover title=title}}

<div class="container">
  <ul class="item-element-list">
    {{#each item in controller}}
      {{item-element item=item}}
    {{else}}
      <li class="item-element-empty">No items &#9785;</li>
    {{/each}}
  </ul>
</div>
