{{!-- templates/category.hbs --}}

<p>category template for {{title}}</p>

<ul class="categories-list">
  {{#each item in controller}}
    <li>
      {{#link-to "item" item}}
        {{item.name}}
      {{/link-to}}
    </li>
  {{else}}
    <li>no items… :(</li>
  {{/each}}
</ul>