{{!-- templates/items.hbs --}}

<h2>Items: {{itemsCount}}</h2>
<ul class="item-element-list">
  {{#each item in controller}}
    {{item-element item=item}}
  {{else}}
    <li>no items… :(</li>
  {{/each}}
</ul>