<div class="grid-container item-detail">
  <div class="grid-row">
    <div class="grid-column item-detail-image-wrapper">
      <img ng-src="{{item.image_url}}" class="item-detail-image" />
    </div>
    <div class="grid-column item-detail-header">
      <h2 class="item-title">{{item.name}}</h2>
      <p class="item-description">{{item.description}}</p>
      <a href="/img/soap-dish.stl" target="_self" class="btn btn-primary">Download</a>
    </div>
  </div>
  
  <div class="item-detail-more-info">
  </div>
</div>
