<div class="container container--wide">
  <input class="searchInput" type="text" placeholder="Search" ng-model="searchText.title" autofocus/>
</div>
<div>
  <span class="numResults" ng-class="{isEmptySearch: !searchText.title}">{{filteredItems.length | numResultsFilter}}</span>
</div>
<div class="container container--wide container--itemElementList">
  <ul class="itemElementList u-clearfix">
    <ng-include src="'/views/item-element.html'" ng-repeat="item in filteredItems = (items | filter:searchText | filter:minEntryFn | limitTo:12)" class="itemElement"></ng-include>
  </ul>
</div>
