<div class="container container--wide">
  <input class="searchInput" type="text" placeholder="Search" ng-model="searchText.title" autofocus/>
</div>
<div class="offsetContent">
  <div class="container container--wide subcover subcover--searchResults" ng-show="(searchText.title.length > 0)">
    <span class="subcover-static">{{filteredItems.length | numResultsFilter}}</span>
  </div>
  <div class="container container--wide subcover subcover--searchInstructions" ng-show="!searchText.title">
    <span class="subcover-static">Type above to search</span>
  </div>
  <div class="container container--wide container--itemElementList">
    <ul class="itemElementList u-clearfix">
      <ng-include src="'/views/item-element.html'" ng-repeat="item in filteredItems = (items | filter:searchText | filter:minEntryFn | limitTo:12)" class="itemElement"></ng-include>
    </ul>
  </div>
</div>
