<div class="subcover--static">
  <!-- <span class="subcover-static-text">{{parameters.subcoverContent}}</span> -->
  <span class="subcover-static-text">{{parameters.subcoverContent}}</span>
</div>
<div class="subcover--dynamic">
  <ul class="subcover-list subcover-list--browse">
    <li class="subcover-item" ng-repeat="browseCategory in parameters.subcoverContent">
      <a class="subcover-anchor" ng-class="{active: parameters.isActive('/browse/{{browseCategory._id}}')}" href="/browse/{{browseCategory._id}}">{{browseCategory.title}}</a>
    </li>
  </ul>
</div>
