<!-- <div class="container container--wide navTabs">
  <ul class="navTabs-list">
    <li class="navTabs-item" ng-repeat="browse in browseList">
      <a class="navTabs-anchor" ng-class="{active: isActiveNavTab('/browse/{{browse._id}}')}" href="/browse/{{browse._id}}">{{browse.title}}</a>
    </li>
  </ul>
</div> -->

<!-- <div class="container container--wide">
  <div class="subcover subcover--static">
    <h5>This is static text</h5>
  </div>
  <ul class="subcover subcover--list">
    <li class="subcover--list-item" ng-repeat="item in browseList">
      <a class="subcover--list-anchor" ng-class="{active: isActiveNavTab('/browse/{{browse._id}}')}" href="/browse/{{browse._id}}">{{browse.title}}</a>
    </li>
  </ul>
</div>
 -->

<div class="subcover--static">
  <span class="subcover-static-text">this is the subcover area</span>
</div>

<!-- <ul class="subcover-list">
  <li class="subcover-item" ng-repeat="browse in browseList">
    <a class="subcover-anchor" ng-class="{active: isActiveNavTab('/browse/{{browse._id}}')}" href="/browse/{{browse._id}}">{{browse.title}}</a>
  </li>
</ul> -->

<div class="subcover--browse">
  <ul class="subcover-list">
    <li class="subcover-item">
      <a class="subcover-anchor" href="#">item 1</a>
    </li>
    <li class="subcover-item">
      <a class="subcover-anchor" href="#">item 2</a>
    </li>
    <li class="subcover-item">
      <a class="subcover-anchor" href="#">item 3</a>
    </li>
  </ul>
</div>